@page "/todolist"

<h1>Todo List</h1>

<Table>
    <TableHeader ThemeContrast="ThemeContrast.Light">#</TableHeader>
    <TableBody>
        @foreach (var item in listaTodo)
        {
            <TableRow>
                <TableRowCell>@item.Title</TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>

@code{
    List<Todo> listaTodo;

    protected override void OnInitialized()
    {
        listaTodo = new List<Todo>(){
            new Todo(){ Title = "Passear com o cachorro", Done = false },
            new Todo(){ Title = "Comprar leite", Done = false },
            new Todo(){ Title = "Estudar programação", Done = false }
        };
    }
}